<form action="/addEntry" method="POST">
    <label>Title<input name="title" value="<% begin %><%= entry.title %><% rescue; end %>"></input></label>
    <label><textarea name="body" rows=10><% begin %><%= entry.body %><% rescue;end %></textarea></label>
    <% begin; if entry %>
        <input name="id" type="hidden" value="<%= entry.id %>"/>
    <% end; rescue; end %>
    <button type="submit">Publish</button>
</form>