<header id="title" class="container">
    <a href="/"><h1><%= blogTitle %></h1>
    <% if isAdmin? %>
        <a href="/setOption/blogTitle"><button class="edit">edit</button></a>
    <% end %>
</header>