
html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: #F7F7F7;
    color: #333;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    padding-left: 2em;
    margin: auto;
    height: 100%;
}

#content {
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
	width: 50em;
    max-width: 95%;
    line-height: 1.4;
}

a {
    color: #3B5998;
    text-decoration: none;
}

a:visited {
    color: #8496bc;
}

label {
    display: block;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

textarea {
    /* textarea-borders else might differ from input-boxes in chrome */
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.moderationStatusLabel,
button {
    cursor: pointer;
    margin-left: 0;
    background-color: #8496bc;
    color: #fdfdfd;
    border: 0;
    padding-bottom: 3px;
    padding-top: 2px;
    margin-top: 2px;
    display: inline-block;
}

.moderationStatusLabel:hover,
button:hover {
    background-color: #3B5998;
}

button::-moz-focus-inner {
    /* makes buttons  have the same size in chrome and ff */
    border:0;padding:0;margin:0;
}

article {
    max-width: 50em;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

summary {
    cursor: pointer;
}

#widget {
    float: right;
    position: relative;
    right: 3em;
}

#title a:visited {
    color: #3B5998;
}

#title h1 {
    display: inline;
}

#title .adminAction {
    vertical-align: text-bottom;
}

#title .adminAction button {
    vertical-align: text-bottom;
}

.editor {
    width: 50em;
    max-width: 95%;
    text-align: right;
}

.entryTitleInput {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 100%;
}
.entryInput {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
}

.editorSubmitButtons {
    display: inline-block;
}

.entryTagInput {
    float: left;
    max-width: 100%;
}

.entryPublish, #previewButton {
    width: 5em;
    display: block;
}

.cancel {
    width: 5em;
    margin-right: 0.5em;
}

#preview {
    border: 1px dashed rgba(0, 0, 0, .3);
    opacity: 0.8;
    margin-top: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: left;
}

.markupButton {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 2px;
    display: inline-block;
    font-size: 18px;
    font-family: serif;
    margin-bottom: 0;
}

.boldButton {
    font-weight: bold;
}

.italicButton {
    font-style: italic;
}

.imgButtonInput {
    position: absolute;
    left: -9999em
}

.buttonBar {
    display: block;
    text-align: left;
}

#welcome, #designs {
    font-size: 0.9em;
}

.comment {
    margin-bottom: 1em;
}

.avatar {
    float: left;
    margin-right: 0.5em;
}

.entryTitle {
    clear: both;
    margin-top: 2em;
    margin-bottom: 0.83em;
}

.entry p {
    padding-left: 1em;
}

.entry footer {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.83em;
}

.entry footer time {
    margin-right: 1em;
}

#entryModerationToggle {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}

#entryModerationToggle div {
    display: inline-block;
    background-color: #8496bc;
    border: 2px solid #8496bc;
    padding-left: 0.1em;
}

#entryModerationToggle div span {
    background-color: #F7F7F7;
    padding: 0.3em;
}

.moderationStatus {
    display: none;
    visibility: hidden;
    margin: 0;
}

.moderationStatusLabel {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.moderationStatus:checked + .moderationStatusLabel {
    border: 2px inset white;
}

#comments {
    padding: 0;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment_moderate .commentBody, .comment_moderate footer  {
    opacity: 0.7;
}

#commentForm {
    margin-top: 2em;
}

#commentForm > input,
#commentFormMail > input {
    width: 22em;    
}

#commentForm > input {
    display: block;
}

#commentForm textarea {
    width: 33em;
    min-height: 8em;
}

.commentFormSubmit {
    margin-left: 28em;
    min-width: 5em;
    margin-bottom: 1em;
}

.cancel + .commentFormSubmit {
    margin-left: 22.5em;
}

#subscribe {
    display: inline;
    margin-left: 1em;
}

#subscribe span {
    font-size: 90%;
}

#subscribe span,
#subscribe input {
    vertical-align: text-bottom;
} 

#browser {
    margin-top: 1em;
}

#browseNext {
    margin-left: 40em;
}

@-moz-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-ms-keyframes fadeOut {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
}
@keyframes fadeOut {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
}

.fadeout {
    animation: fadeOut 300ms linear forwards;
    -moz-animation: fadeOut 300ms linear forwards;
    -ms-animation: fadeOut 300ms linear forwards;
    -o-animation: fadeOut 300ms linear forwards;
    -webkit-animation: fadeOut 300ms linear forwards;
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
}
@keyframes fadeIn {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
}

.fadein {
    animation: fadeIn 300ms linear forwards;
    -moz-animation: fadeIn 300ms linear forwards;
    -ms-animation: fadeIn 300ms linear forwards;
    -o-animation: fadeIn 300ms linear forwards;
    -webkit-animation: fadeIn 300ms linear forwards;
}

.adminOptions form {
    display: inline-block;
}

footer #search {
    margin-top: 3em;
}

#search {
    display: inline-block;
}

#search input {
    margin-right: 0;
    border-right: 0;
    
}

#search button {
    box-sizing: boder-box;
    padding-bottom: 3px;
    padding-top: 2px;
    position: relative;
    right: 5px;
    bottom: 1px;
}

.highlight {
    animation: highlightBox 500ms ease-out forwards;
    -moz-animation: highlightBox 500ms ease-out forwards;
    -ms-animation: highlightBox 500ms ease-out forwards;
    -o-animation: highlightBox 500ms ease-out forwards;
    -webkit-animation: highlightBox 500ms ease-out forwards;
    background-color: #f7fbd8;
}

@-moz-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@-o-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@-webkit-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@-ms-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@keyframes highlightBox {
    0% { background-color: #f7fbd8; }
    100% { background-color: white; }
}

img, iframe, object {
    border: 0;
    max-width: 90% !important;    
}

img {
    height: auto !important;
}

.pace .pace-progress {
    background: #ff7200;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}
