
html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: #fdfdfd;
    color: #333;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    padding-left: 2em;
    margin: auto;
    height: 100%;
}

#content {
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
	width: 50em;
    max-width: 95%;
    line-height: 1.4;
}

a {
    color: #3B5998;
    text-decoration: none;
}

a:visited {
    color: #8496bc;
}

label {
    display: block;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    margin-left: 0;
    background-color: #8496bc;
    color: #fdfdfd;
    border: 0;
    padding-bottom: 3px;
    padding-top: 2px;
    margin-top: 2px;
}

button::-moz-focus-inner {border:0;padding:0;margin:0;}

article {
    max-width: 50em;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

summary {
    cursor: pointer;
}

#widget {
    float: right;
    position: relative;
    right: 3em;
}

#title a:visited {
    color: #3B5998;
}

#title h1 {
    display: inline;
}

#title .adminAction {
    vertical-align: text-bottom;
}

#title .adminAction button {
    vertical-align: text-bottom;
}

.editor {
    width: 50em;
    max-width: 95%;
    text-align: right;
}

.entryTitleInput {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 100%;
}
.entryInput {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.editorSubmitButtons {
    display: inline-block;
}

.entryTagInput {
    float: left;
    max-width: 100%;
}

.entryPublish, #previewButton {
    width: 5em;
    display: block;
}

.cancel {
    width: 5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#preview {
    border: 1px dashed rgba(0, 0, 0, .3);
    opacity: 0.8;
    margin-top: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: left;
}

.markupButton {
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-family: serif;
    margin-bottom: 0;
}

.boldButton {
    font-weight: bold;
}

.italicButton {
    font-style: italic;
}

.imgButtonInput {
    position: absolute;
    left: -9999em
}

.buttonBar {
    display: block;
    text-align: left;
}

#welcome, #designs {
    font-size: 0.9em;
}

.comment {
    margin-bottom: 1em;
}

.avatar {
    float: left;
    margin-right: 0.5em;
}

.entryTitle {
    clear: both;
    margin-top: 2em;
    margin-bottom: 0.83em;
}

.entry p {
    padding-left: 1em;
}

.entry footer {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.83em;
}

.entry footer time {
    margin-right: 1em;
}

#entryModerationToggle {
    margin: 1em;
}

#entryModerationToggle label {
    display: inline;
}

.comment_moderate .commentBody, .comment_moderate footer  {
    opacity: 0.7;
}

#commentForm span {
    width: 6em;
    display: inline-block;
}

#commentForm input {
    width: 15em;
}

#commentForm textarea {
    width: 21em;
    min-height: 6em;
}

#commentForm button {
    margin-left: 16em;
}

#commentForm .adminAction button {
    margin-left: 0;
}

#browser {
    margin-top: 1em;
}

#browseNext {
    margin-left: 40em;
}

@-moz-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-ms-keyframes fadeOut {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
}
@keyframes fadeOut {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
}

.fadeout {
    animation: fadeOut 300ms linear forwards;
    -moz-animation: fadeOut 300ms linear forwards;
    -ms-animation: fadeOut 300ms linear forwards;
    -o-animation: fadeOut 300ms linear forwards;
    -webkit-animation: fadeOut 300ms linear forwards;
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
}
@keyframes fadeIn {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
}

.fadein {
    animation: fadeIn 300ms linear forwards;
    -moz-animation: fadeIn 300ms linear forwards;
    -ms-animation: fadeIn 300ms linear forwards;
    -o-animation: fadeIn 300ms linear forwards;
    -webkit-animation: fadeIn 300ms linear forwards;
}

.adminOptions form {
    display: inline-block;
}

/* hover-menu: */
.adminOptionsMore {
    display: inline-block;
    z-index: 1;
}

.adminOptionsMoreOptions {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: white;
    padding-top: 0;
}

.adminOptionsMoreOptions li, .adminMoreOption {
    display: block;
    width: 100%;
    margin: 0;
}

.adminOptionsMoreSign {
    cursor: default;
    vertical-align: top;
}

.adminOptionsMoreSign:hover + .adminOptionsMoreOptions, .adminOptionsMoreOptions:hover {
    display: block;
}

#search {
    margin-top: 3em;
}

#search input {
    margin-right: 0;
    border-right: 0;
    
}

#search button {
    box-sizing: boder-box;
    padding-bottom: 3px;
    padding-top: 2px;
    position: relative;
    right: 5px;
    bottom: 1px;
}

/* checkoxes from http://www.chrisnorstrom.com/2012/11/invention-multiple-choice-windowed-slider-ui/ */
#entryModerationToggle input[type="checkbox"] + span {
    width: 84px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
	margin: 0px;
    margin-left: 1em;
}

#entryModerationToggle input[type="checkbox"] + span:before {
    content:"";
    display:inline-block;
    width: 100%;
    height: 100%;
    background: url("/img/off.jpg") no-repeat 0 0;
    background-size: 100% 100%;
}

#entryModerationToggle input[type="checkbox"]:checked + span:before {
    content:"";
    display:inline-block;
    width: 100%;
    height: 100%;
    background: url("/img/on.jpg") no-repeat 0 0;
    background-size: 100% 100%;
}

.highlight {
    animation: highlightBox 500ms ease-out forwards;
    -moz-animation: highlightBox 500ms ease-out forwards;
    -ms-animation: highlightBox 500ms ease-out forwards;
    -o-animation: highlightBox 500ms ease-out forwards;
    -webkit-animation: highlightBox 500ms ease-out forwards;
    background-color: #f7fbd8;
}

@-moz-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@-o-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@-webkit-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@-ms-keyframes highlightBox {
  0% { background-color: #f7fbd8;}
  100% { background-color: white; }
}

@keyframes highlightBox {
    0% { background-color: #f7fbd8; }
    100% { background-color: white; }
}

img, iframe, object {
    border: 0;
    max-width: 90% !important;    
}

img {
    height: auto !important;
}
