
html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: white;
    color: #333;
}

body {
    padding-left: 2em;
    margin: auto;
}

#content {
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
	width: 50em;
}

a {
    color: #d22323;
    text-decoration: none;
}

a:visited {
    color: #f87f7f;
}

#title a:visited {
    color: #d22323;
}

#title h1 {
    display: inline;
}

label {
    display: block;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

article {
    max-width: 50em;
}

summary {
    cursor: pointer;
}

#friendWidget {
    float: right;
    position: relative;
    right: 3em;
}

#mainNav {
    float: left;
    position: relative;
    left: 3em;
}

#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#editor {
    width: 40em;
}

#entryTitleInput {
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 36em;
    margin-left: 1em;
}
#entryInput {
    min-width: 100%;
    #border-top-right-radius: 5px;
}

#entryPublish, #previewButton {
    margin-left: 35em;
    width: 5em;
}

#preview {
    border: 1px dashed rgba(0, 0, 0, .3);
    opacity: 0.8;
    margin-top: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.markupButton {
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-family: serif;
}

.boldButton {
    font-weight: bold;
}

.italicButton {
    font-style: italic;
}

.linkButton {
    position: relative;
    top: 1px;
}

.buttonBar {
    display: inline-block;
}

#welcome, #designs {
    font-size: 0.9em;
}

.comment {
    margin-bottom: 1em;
}

.avatar {
    float: left;
    margin-right: 0.5em;
}

.entry p {
    padding-left: 1em;
}

.entry footer {
    font-style: italic;
    font-size: 0.9em;
}

#entryModerationToggle {
    margin: 1em;
    
}

#entryModerationToggle label {
    display: inline;
}

.comment_moderate .commentBody, .comment_moderate footer  {
    opacity: 0.7;
}

#commentForm span {
    width: 6em;
    display: inline-block;
}

#commentForm input {
    width: 15em;
}

#commentForm textarea {
    width: 21em;
    min-height: 6em;
}

#commentForm button {
    margin-left: 16em;
}

#commentForm .adminAction button {
    margin-left: 0;
}

#browser {
    margin-top: 1em;
}

#browseNext {
    margin-left: 40em;
}

@-moz-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-ms-keyframes fadeOut {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
}
@keyframes fadeOut {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
}

.fadeout {
    animation: fadeOut 300ms linear forwards;
    -moz-animation: fadeOut 300ms linear forwards;
    -ms-animation: fadeOut 300ms linear forwards;
    -o-animation: fadeOut 300ms linear forwards;
    -webkit-animation: fadeOut 300ms linear forwards;
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
}
@keyframes fadeIn {
    0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
    100% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
}

.fadein {
    animation: fadeIn 300ms linear forwards;
    -moz-animation: fadeIn 300ms linear forwards;
    -ms-animation: fadeIn 300ms linear forwards;
    -o-animation: fadeIn 300ms linear forwards;
    -webkit-animation: fadeIn 300ms linear forwards;
}

.adminOptions form {
    display: inline-block;
}

/* hover-menu: */
.adminOptionsMore {
    display: inline-block;
    z-index: 1;
}

.adminOptionsMoreOptions {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: white;
    padding-top: 0;
}

.adminOptionsMoreOptions li, .adminMoreOption {
    display: block;
    width: 100%;
    margin: 0;
}

.adminOptionsMoreSign {
    cursor: default;
    vertical-align: top;
}

.adminOptionsMoreSign:hover + .adminOptionsMoreOptions, .adminOptionsMoreOptions:hover {
    display: block;
}

#search {
    margin-top: 3em;
}

/* checkoxes from http://www.chrisnorstrom.com/2012/11/invention-multiple-choice-windowed-slider-ui/ */
#entryModerationToggle input[type="checkbox"] + span {
    width: 84px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
	margin: 0px;
    margin-left: 1em;
}

#entryModerationToggle input[type="checkbox"] + span:before {
    content:"";
    display:inline-block;
    width: 100%;
    height: 100%;
    background: url("/img/off.jpg") no-repeat 0 0;
    background-size: 100% 100%;
}

#entryModerationToggle input[type="checkbox"]:checked + span:before {
    content:"";
    display:inline-block;
    width: 100%;
    height: 100%;
    background: url("/img/on.jpg") no-repeat 0 0;
    background-size: 100% 100%;
}

#messages, #messengers {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    padding: 0;
}

#messageList {
    list-style-type: none;
    padding: 0;
    max-width: 30em;
}

.message {
    margin-bottom: 1em;
}

.messageIncoming {
    margin-right: 2em;
    margin-left: 0em;
}

.messageOwn {
    margin-right: 0em;
    margin-left: 2em;
}

.messageOwn:after {
    content: "»";
}

.message .author {
    font-size: 0.8em;
    text-align: right;
    font-style: italic;
}

#messageEditor {
    opacity: 0;
}

textarea[name="content"] {
    width: 30em;
    height: 4em;
    display: block;
}

#messageEditor button {
    margin-left: 27em;
}