<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
           
        <link rel="stylesheet" href="<%= url_for '/css/main.css' %>">
        <link rel="alternate"  type="application/rss+xml" href="<%= url_for '/feed' %>" />
    </head>
    <body>
        <% if isAdmin? %>
            <%= erb :editor, :locals => {:entry => entry} %>
        <% end %>
    </body>
</html>
