<%# -*- encoding : utf-8 -*- %>
<form class="editor" action="/addEntry" method="POST">
    <label><input class="entryTitleInput" name="title" value="<%= entry.title if entry != nil %>" placeholder="Title"></input></label>
    <textarea class="entryInput" name="body" rows=10 placeholder="Entry"><%= entry.body if entry != nil %></textarea>
    <% if entry %>
        <input name="id" type="hidden" value="<%= entry.id %>"/>
    <% end %>
    <label>
        <input class="entryTagInput" type="text" list="tags" name="tags" placeholder="tag1, tag2, …" value="<%= entry.tags.join(", ") if entry != nil && entry.tags != nil%>">
        </input>
    </label>
    <div class="editorSubmitButtons">
        <button type="submit" class="entryPublish">Publish</button>
    </div>
</form>