<%# -*- encoding : utf-8 -*- %>
<form class="editor" action="/addEntry" method="POST">
    <label><span>Title</span><input id="entryTitleInput" name="title" value="<%= entry.title if entry != nil %>"></input></label>
    <label><textarea id="entryInput" name="body" rows=10><%= entry.body if entry != nil %></textarea></label>
    <% if entry %>
        <input name="id" type="hidden" value="<%= entry.id %>"/>
    <% end %>
    <div class="editorSubmitButtons">
        <button type="submit" class="entryPublish">Publish</button>
    </div>
</form>