<%# -*- encoding : utf-8 -*- %>
<header id="title" class="container">
    <a href="<%= url_for '/' %>"><h1><%= blogTitle %></h1></a>
    <% if isAdmin? %>
        <a href="<%= url_for '/setOption/blogTitle' %>" class="adminAction"><button class="edit" title="edit">&#9998;</button></a>
    <% end %>
</header>