<!DOCTYPE html>
<html>
    <head>
        <%= erb :head %>
        <title><%= blogTitle%> - Messages</title>
        <meta name="description" content="">
    </head>
    <body>
        
        <%= erb :navigation %>
        
        <div id="content">
            <%= erb :header, :locals => {:blogTitle => blogTitle} %>
            <h2>Messages</h2>
            <form id="messageEditor" action="addMessage" method="post">
                <ul>
                <li><input type="mail" name="to" /></li>
                <li><textarea name="content"></textarea></li>
                <li><button type="submit">Send</button></li>
                </ul>
            </form>
            
        </div>
    </body>
</html>