<%# -*- encoding : utf-8 -*- %>
<form action="<%= url_for '/search' %>" method="GET" id="search">
    <input type="search" placeholder="search" name="keyword" value="<%= keyword %>"/>
    <button type="submit">Go</button>
</form>