<details id="designs">
    <summary><span>Change Design</span></summary>
    <form action="/setOption" method="post">
        <input type="hidden" name="name" value="design"/>
        <% designs.each do |availableDesign| %>
            <label><input type="radio" name="value" value="<%= availableDesign %>" <%= "checked" if availableDesign == design %> /> <%= availableDesign %></label>
        <% end %>
        <button type="submit">OK</button>
    </form>
</details>