<%# -*- encoding : utf-8 -*- %>
<form action="/setOption" method="POST">
    <input type="hidden" name="name" value="<%= name %>" />
    <input type="text" name="value" value="<%= value %>"/>
    <button type="submit" class="save">OK</button>
</form>